input[type=text]
{
    width:225px;
    border:none;
    border:solid #cc0000;
    font-family:Comic Sans;
    font-weight:bold;
    font-size:17;
}
.button
{
    background-color:#ADD8E6;
    color: black;
    padding: 4px 15px;
    text-align:center;
    display:grid;
    margin:0 auto;
    font-size: 20;
    font-family:Comic Sans;
    font-weight:bold;
    cursor: pointer;
    border:black;
    border-radius:10px;
}
#sidebar {
    position:-webkit-sticky;
    float:left;
    left:0;
    margin:50px 0 0 0;
    color: white;
    font-weight: bold;
    font-size: large;
    text-align:left;
    border: solid hsla(80, 90%, 40%,80);
    padding:20px;
    box-shadow: 0 1px 3px black;
    border-radius: 3em 0.5em 0.5em 3em;
}
select
{
    width:225px;
    border:none;
    border:solid #cc0000;
    font-family:Comic Sans;
    font-weight:bold;
    font-size:17;
}
.cards
{
    margin-top:40px;
    display:grid;
    font-family: sans-serif;   
    
}
table.three
{
    text-align:left;
    margin-left:0;
    width:100%;
  }
.buyterms
{
    font-weight:bold;
    color:#000;
    font-size:20px;
    text-align:left;
    font-family:Comic Sans;
}
.card
{
  display:grid;
}
.card__image
{
  margin-top:5px;
  width:100%;
  margin-left:5px;
  display:block;

}
.card__info
{
  margin-left:15px;
  margin-bottom:5px;
  width:40%;
}