body
{
    margin:0;
}
.topnav
{
    position: -webkit-sticky;
    position: sticky;
    background-color:#cc0000;
    width:100%;
    overflow:hidden;
    top:0;
    -webkit-transform: translateZ(0);
      transform: translateZ(0);
     will-change: transform;
}
.topnav a
{
      float: left;
      text-align: center;
      padding: 20px 30px;
      font-size: 25px;
    text-decoration: none;
    background-color:#a74f8b 0.6; 
    color:white;
    display:block;
}
.topnav a:hover
{
      background-color:white;
      color: #cc0000;
}
.hi
{
    background-image:url("images/computer.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height:700px;
    flex: 8%;
    background-attachment:fixed;
    -webkit-transform: translateZ(0);
      transform: translateZ(0);
     will-change: transform;
}
button {
  border: none;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  transition-duration: 0.4s;
  margin-top:50px;
  cursor: pointer;
  border-radius: 15px;
  width:250px;
  padding:40px 30px;
  height:100px;
  font-style:georgia; 
  font-size:40px;
  text-decoration:none;
}
button.button1 {
 background-color: #4CAF50;
  color: white;
}

button.button1:hover {
  color: black; 
  border: 2px solid #4CAF50;
  
 }

button.button2:hover{
  background-color: white; 
  color: #008CBA; 
  border: 2px solid #008CBA;
}

button.button2 {
  background-color: #008CBA;
  color: white;
}

button.button3:hover{
  background-color: white; 
  color: black; 
  border: 2px solid #ff8c00;
}

button.button3:hover {
  background-color: #ff8c00;
  color: white;
}

button.button4 {
  background-color: white;
  color:black;
  border: 2px solid #483D8B;
}

button.button4:hover {
  background-color: #483D8B;
  color: white;
}
