body
{
    margin:0;
}
.topnav
{
    position:-webkit-sticky;
    background-color:#cc0000;
    width:100%;
    overflow:hidden;
    top:0;
    -webkit-transform: translateZ(0);
      transform: translateZ(0);
     will-change: transform;
}
.topnav a
{
      position: -webkit-sticky;
      float: left;
      text-align: center;
      padding: 20px 10px;
      font-size: 25px;
    text-decoration: none;
    background-color:#a74f8b 0.6; 
    color:white;
    display:block;
}
.topnav a:hover
{
      background-color:white;
      color: #cc0000;
}
.hi
{
    background-image:url("images/computer.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height:300px;
    flex: 8%;
    background-attachment:fixed;
    -webkit-transform: translateZ(0);
      transform: translateZ(0);
     will-change: transform;
}
.login{
    box-shadow:5px 5px 5px 2px #fff;
    margin-top:200px;
    margin-left:150px;
    width:32%;
    background:white;
}
.register{
    box-shadow:5px 5px 5px 2px #fff;
    margin-top:200px;
    margin-left:150px;
    width:80%;
    background:white;
}
.log
{
    font-weight:bold;
    color:#000;
    font-size:20;
    font-family:Comic Sans;
}
.reglog
{
    font-weight:bold;
    color:#000;
    font-size:20;
    font-family:Comic Sans;
}

.button
{
    background-color:#ADD8E6;
    color: black;
    padding: 4px 15px;
    text-align:center;
    display:grid;
    margin:0 auto;
    font-size: 20;
    font-family:Comic Sans;
    font-weight:bold;
    cursor: pointer;
    border:black;
    border-radius:10px;
    text-decoration: none;

}
table.two
{
    border-spacing:30px 15px;
}
input[type=text]
{
    width:225px;
    border:none;
    border:solid #cc0000;
    font-family:Comic Sans;
    font-weight:bold;
    font-size:17;
}
input[type=text].regtext
{
    width:300px;
    border:none;
    border-bottom:solid #cc0000;
    font-family:Comic Sans;
    font-weight:bold;
    font-size:17;
}
input[type=email]
{
    width:225px;
    border:none;
    border:solid #cc0000;
    font-family:Comic Sans;
    font-weight:bold;
    font-size:17;
}
input[type=password]
{
    width:225px;
    border:none;
    border:solid #cc0000;
    font-family:Comic Sans;
    font-weight:bold;
    font-size:17;
}
input[type=password].regpass
{
    width:300px;
    border:none;
    border-bottom:solid #cc0000;
    font-family:Comic Sans;
    font-weight:bold;
    font-size:17;
}

table.three
{
    border-spacing:30px 15px;
}

  